@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: #040714;
  --site-color: #fff;
  --active-color: #0063e5;
  --first-color: #08132f;
  --second-color: #090b13;
  --third-color: #1b202a;
}

body {
  background: var(--active-color);
  color: white;
  padding: 30px;
}

.max-width {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

/* Inicio menu */

.navbar .logo a {
  color: var(--active-color);
  font-size: 35px;
  font-weight: 500;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--main-color);
  border-bottom: solid var(--third-color) 1px;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  color: white;
}
.menu :hover {
  color: green;
}
a {
  margin-left: 10px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: var(--site-color);
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
}

.menu-btn {
  color: var(--site-color);
  font-size: 23px;
  cursor: pointer;
  display: none;
}
a {
  color: black;
  font-weight: bold;
}
